<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tweetr</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 justify-content-center">
    <div class="index-img">
        <img src="https://d2e111jq13me73.cloudfront.net/sites/default/files/styles/share_link_image_large/public/screenshots/csm-tv/parks-and-recreation-ss2_0.jpg?itok=8JQ4bqOl">
    </div>
    {{ sentence }}
</div>
</div>
</div>
</body>
</html>